* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-flow: column;
}
/* ---HEADER--- */
.top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.slide {
  padding-top: 20px;
  width: 100%;
  display: none;
}
.item a {
  color: white;
  text-decoration: none;
  display: block;

}

 .item{
  list-style-type: none;
  width: 100%;
  text-align: center;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

/* DESCRIPTION */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.total_desc {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
}

.desc_main_heading {
  color: brown;
  font-size: 25px;
  margin-bottom: 10px;
}
.desc_cont {
  width: 100%;
  /* min-height: 200px; */
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  padding: 10px;
  max-width: 1200px;
  flex-grow: 1;
}

.desc_img {
  max-width: 100%;
  flex-basis: 100%;
}

.desc_cont {
  flex-basis: 100%;
  margin-top: 10px;
}

.offer_title {
  font-size: 18px;
  font-weight: bold;
  color: #468411;
  margin-top: 0;
  margin-bottom: 10px;
}

/* SIDEBAR */

.sidebar {
  background-color: rgb(255, 94, 0);
  display: flex;
  flex-flow: column;
  height: min-content;
  padding: 20px;
}
.sidebar_parts {
  color: white;
  line-height: 20px;
  padding: 20px 10px;
}

.sidebar_headings {
  background-color: lavender;
  font-size: 20px;
  padding: 10px;
}

li {
  line-height: 30px;
}
ul {
  padding-left: 20px;
  margin: 0px;
}
.days {
  font-size: 20px;
}
.timing {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding-bottom: 10px;
}

.footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bottom_nav a {
  text-decoration: none;
  color: black;
}

.footer li {
  list-style-type: none;
  display: inline;
}
.footer li:nth-child(n + 2):before {
  content: " | ";
}
.footer ul {
  padding: 0px;
}
hr {
  margin-left: 20px;
  margin-right: 20px;
  height: 1px;
  background-color: black;
}


 
.bottom_nav{
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .Menu_img {
    display: none;
  }
  body {
    margin: 10px;
  }
  .top {
    padding: 0px 0px 10px;
  }
  /* HEADER */

  .slide {
    display: inline;
  }
  .menu {
    align-items: flex-start;     
    flex-wrap: nowrap;
    background: none;
    justify-content: flex-start;
    padding-left: 10px;
    background-color: black;

  }
  .item {
    position: relative;
    display: block; 
    width: auto;
    margin-right: 30px;

  }
  .item a{
  padding: 10px;
  }
  /* WRAPPER */

  .wrapper {
    flex-flow: row-reverse;
    padding: 20px 0px;
  }

  /* DESCRIPTION */

  .total_desc {
    width: 600px;
  }
  /* .offer_cont {
    min-height: 200px;
  } */

  .desc_img {
    /* flex-basis: 20%;
    height: 20%; */
    /* max-width: 100%; */
    flex-basis: 100px;
    height: 100px;
  }

  .desc_cont {
    flex-basis: 200px;
    flex-grow: 1;
    margin-top: 0;
    margin-left: 10px;
  }

  /* SIDEBAR */

  .sidebar {
    width: 400px;
    overflow: hidden;
    margin-right: 40px;
    min-width: 400px;

  }

  /* FOOTER */

  hr {
    margin: 10px 0px;
  }
  .footer_content {
    margin-top: 20px;
    flex-flow: row;
  }
  .copyright {
    width: 100%;
    display: flex;
  }
  .bottom_nav {
    justify-content: flex-end;
  }
  .bottom_nav a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
  }

}  
@media only screen and (min-width: 1025px) {
  .sidebar {
    width: 350px;
  }
  .total_desc {
    width: 940px;
  }
}
